html {
  box-sizing: border-box;
  font-size: 14px;
}

body {
  background-color: lightgrey;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  border-radius: 3px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
